.venv/
__pycache__/
*.pyc

warehouse/*
!warehouse/.gitkeep

0_data_sources/*
!0_data_sources/.gitkeep

transform/target/
transform/dbt_packages/
transform/logs/
transform/.user.yml

viz/preview/*.json
viz/node_modules/
viz/dist/
**/.observablehq/

.DS_Store
Thumbs.db
